/** Sizes **/
$size-0: 0;
$size-half: 0.5px;
$size-1: 1px;
$size-2: 2px;
$size-3: 3px;
$size-8: 8px;
$size-9: 9px;
$size-10: 10px;
$size-11: 11px;
$size-12half: 12.5px;
$size-14: 14px;
$size-15: 15px;
$size-16: 16px;
$size-14: 14px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-19: 19px;
$size-20: 20px;
$size-21: 21px;
$size-22: 22px;
$size-24: 24px;
$size-25: 25px;
$size-26: 26px;
$size-27: 27px;
$size-29: 29px;
$size-30: 30px;
$size-31: 31px;
$size-32: 32px;
$size-34: 34px;
$size-36: 36px;
$size-37: 37px;
$size-38: 38px;
$size-39: 39px;
$size-40: 40px;
$size-47: 47px;
$size-45: 45px;
$size-48: 48px;
$size-50: 50px;
$size-52: 52px;
$size-53: 53px;
$size-55: 55px;
$size-58: 58px;
$size-59: 59px;
$size-77: 77px;
$size-80: 80px;
$size-72: 72px;
$size-73: 73px;
$size-77: 77px;
$size-78: 78px;
$size-91: 91px;
$size-97: 97px;
$size-100p: 100%;
$size-100v: 100vw;
$size-93: 103px;
$size-103: 103px;
$size-107: 107px;
$size-145: 145px;
$size-146: 146px;
$size-150: 150px;
$size-180: 180px;
$size-186: 186px;
$size-190: 190px;
$size-228: 228px;
$size-231: 231px;
$size-234: 234px;
$size-235: 235px;
$size-238: 238px;
$size-251: 251px;
$size-270: 270px;
$size-274: 274px;
$size-300: 300px;
$size-399: 399px;
$size-400: 400px;
$size-400and52: 400.55px;
$size-445: 445px;
$size-463: 463px;
$size-556: 556px;
$size-591: 591px;
$size-654: 654px;
$size-617: 617px;
$size-675and42: 617.42px;
$size-785: 785px;
$size-933: 933px;
$size-1076: 1160px;

/** Colors **/
$primary: #ef6d1d;
$secondary: #123234;
$grey: #e5e5e5;
$light-grey: #f2f2f2;
$dark-grey: #bdbdbd;
$black: #000;
$white: #fff;
$bottomcolor: #0b2b2d;
$header-text-color: #393939;
$footercolor: #0c2829;
$darkgray: #828282;
$lightgrey: #f5f5f5;
$brown: #4f4f4f;
$page-content: #333;
$download-bg: #ffd8a7;
$submenu-border: #e0e0e0;
$membership-bg: #fcfcfc;
$input-bg: #fbfbfb;
$select-input: #efefef;

/** Font Weight **/
$font-1: 1;
$font-300: 300;
$font-400: 400;
